/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    /* Colors */
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --bg-color: #F0F2F6;
    --white-color: #FFFFFF;
    --yellow-color: #FED385;
    --grey-color: #F2F2F2;
    --blue-color: blue;
    --black-color: #000000;
    --transparent-color: #F2F2F2;
    --light-blue-color: #DEEBFF;
    --grey-tint2-color: #D9D9D9;
    --stroke-card-color: #FFFFFF;
    /* Text configuration */
}


.fa-solid {
    color: var(--main-color);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.btn-location .fa-location-dot{
    color: #000; 
    font-size: 1rem; /*16px;*/ 
    margin: auto; 
    padding-top: 0.5rem; /*8px*/
}
/****** Header Large Desktop *******/
/** nav **/
.header-nav {
    display: flex; /* active le mode flexbox */
    justify-content: space-between; /* répartit l'espace entre les éléments */
    align-items: center; /* centre les éléments verticalement */
}
  
.menu-nav {
    display: flex; /* active le mode flexbox */
    gap: 1rem; /* ajoute un espace entre les liens */
    justify-content: center; /* centre les liens horizontalement */
    align-items: center; /* centre les liens verticalement */
}

/* Sélectionner tous les éléments <a> avec la classe btn-link */
.btn-link {
    /* Définir la transition et le contour */
    transition: all 0.3s;
    outline: none;
}
  
  /* Sélectionner tous les éléments <a> avec la classe btn-link lors du clic */
.btn-link:active {
    /* Définir le style du lien cliqué */
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

.btn-link:hover {
    /* Définir le style du lien cliqué */
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

.menu-nav .wraper {
    display: flex;
    flex-direction: row;
    gap: 3.75rem;
    /**60px; **/
    padding-top: 1.15rem;
}

.menu-nav .wraper a {
    padding-top: 0.838rem;
}

.menu-nav .btn-hebergement {
    border-top: 2px solid #0065FC;
    color: #0065FC;

}
/** End Nav **/

header .header-menu {
    display: flex;
    flex-direction: column;
    width: 1, 340px;
    gap: 10px;
}

.header-options {
    display: flex;
    flex-direction: row;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    gap: 15px;
}

.header-search-form {
    display: flex;
    flex-direction: row;
    font-size: 40px;
    margin-bottom: 20px;
}

.header-search-form .btn-loop {
    visibility: hidden;
}

.header-search-form .btn-search {
    width: 132px;
    height: 49px;
    padding: 15px, 16px, 15px, 16px;
    border-radius: 0px, 15px, 15px, 0px;
    border: 1px;
    gap: 10px;
    background: #0065FC;
    border: 1px solid #0065FC;
    color: #FFFFFF;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.header-search-form .btn-search .btn-loup {
    display: none;
    visibility: hidden;
}

.header-search-form .btn-location {
    width: 50px;
    height: 49px;
    border-radius: 15px, 0px, 0px, 15px;
    border: 1px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    color: #000000;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.header-search-form .input-search {
    border: 2px solid #F2F2F2;
}


header .header-options .btn-option {
    width: Hug (173px);
    height: Fixed (50px);
    padding: 4px 19px 4px 19px;
    border-radius: 25px;
    border: 2px solid #DEEBFF;
    gap: 10px;
}

/* Sélectionner tous les éléments <a> avec la classe btn-option lors du survol */
.btn-option:hover {
    /* Définir la couleur de fond comme un dégradé linéaire */
    background: linear-gradient(0deg, #DEEBFF, #DEEBFF);
  }

.header-options .filter-option {
    width: 54px;
    height: 21px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
}

.header-menu .header-title {
    display: flex;
    flex-direction: column;
}

.header-menu .header-plus-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5px;
}

.header-menu .header-plus-info p {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.header-menu .header-plus-info img {
    width: 1.5rem; /*24px;*/
    height: 1.5rem;
    padding-top: 0.813rem; /*13px;*/
}

/******* End header ************/

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards-block{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hebergements-cards-block .card{
    display: flex;
    flex-direction: column;
    margin: 2.06rem 0.63rem 0.63rem 0;
    /* margin: 2.06rem; /* 33px / 16px */
    width: 13.9rem; /* 250.33px / 16px */
    height: 12.95rem; /* 239.2px / 16px */
    padding: 0px, 0px, 0.94rem, 0px; /* 15px / 16px */
    gap: 0.25rem; /* 4px / 16px */
}

.hebergements-cards img {
    width: 100%; /* 250.33px / 16px */
    height: 7.75rem; /*124px /16px */
    border-top-left-radius:1.25rem; /*20px/16px*/
    border-top-right-radius:1.25rem; /*20px/16px*/
    border:5px
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 0px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0px;
}

.hebergements-cards .card-rating {
    margin-bottom: 10px;
}

.hebergements-cards .affiche-plus {
    margin-top: 1.5rem;
    /*margin-bottom: 1.5rem;*/
    font-weight: bold;
}
/****** End Hebergements ***********/

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/****** End Populaires ***********/

/****** Actrivités ***********/
.activites {
    width: auto;
    /*margin-top: 0px;*/
    /*max-width: 1240px;*/
    padding: 1.875rem; /*30px;*/
}

.activites-title {
    margin: 0.625rem; /*10px;*/
    padding-bottom: 1.875rem; /*30px;*/
}

.activites-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: Hug (27.438rem); /*Hug (439px);*/
    gap: 1.875rem; /*30px;*/
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    width: 16.48rem; /*275px;*/
    padding: 0rem;
    height: Fixed (27.438rem); /*Fixed (439px);*/
    border-radius: 1.25rem; /*20px;*/
}

.activites-cards img {
    width: 16.48rem;
    height: 23.75rem; /*380px;*/
    border-radius: 1.25rem, 1.25rem, 0px, 0px;
    line-height: 0.07407407;
    border-top-left-radius: 1.25rem; /*20px;*/
    border-top-right-radius:  1.25rem; /*20px;*/
}

.activites-cards .card .card-txt {
    width: 297.5px;
    height: 59px;
    padding: 1.25rem, 1.188rem, 1.25rem, 1.188rem; /*20px, 19px, 20px, 19px;*/
    border-radius: 0px, 0px, 1.25rem, 1.25rem; /*0px, 0px, 20px, 20px;*/
    gap: 0.625rem; /*10px;*/
}

.activites-cards .card-title {
    width: 16.219rem; /*259.5px;*/
    height: 1.188rem; /*19px;*/
    padding: 1.25rem, 1.188rem, 1.25rem, 1.188rem; /*20px, 19px, 20px, 19px;*/
    border-radius: 0px, 0px, 1.25rem, 1.25rem; /*0px, 0px, 20px, 20px;*/
    gap: 0.625rem; /*10px;*/
}

.activites-cards .affiche-plus a {
    margin-top: 1rem;
    font-weight: bold;
}

/****** End Actrivités ***********/

/****** Footer Desktop ***********/
footer {
    width: 100%;
    margin-top: 1.875rem; /*30px;*/
    background-color: var(--grey-color)
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer-content .block {
    width: calc (31% - 20px);/*27.917rem; /*446.67px;*/
    height: 10.188rem; /*163px;*/
    display: flex;
    flex-direction: column;
    padding: 1.25rem; /*20px;*/
    gap: 0.938rem; /*15px;*/
}

/****** End Footer ***********/


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    /** header options **/
    .header-options {
        display: flex;
        flex-direction: column;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }
    
    .hebergements-cards-block { 
        /*grid-template-columns: repeat(3, 1fr);*/
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .hebergements-cards .card {
        display: flex;
        flex-direction: column;
        margin-top: 2.06rem; /* 33px / 16px */
        width: 15.375rem; /* 250.33px / 16px */
        height: 12.95rem; /* 239.2px / 16px */
        padding: 0px, 0px, 0.94rem, 0px; /* 15px / 16px */
        gap: 0.25rem; /* 4px / 16px */
    }
        
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /******** Activité ***********/
    .activites {
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .activites-cards {
        display: flex;
        flex-direction: row;
    }
    
    .activites-cards .card {
        width: 11.80rem;
        /*173.5px;*/
        border-radius: 1.25rem;
        padding: 0rem;
        /*20px;*/
        box-shadow: 0px 3px 15px 0px #0000001A;     
        flex-shrink: 1;   
    }

    .activites-cards .card img {
        width: 100%;
        /*173.5px;*/
        height: 12.5rem;
        /*200px;*/
        border-radius: 20px, 20px, 0px, 0px;
    }

    .activites-cards .card-title {
        width: 9.719rem;
        /*155.5px;*/
        height: 1.188rem;
        /*19px;*/
        font-family: Raleway;
        font-size: 0.875rem;
        /*14px;*/
        font-weight: 700;
        text-align: left;
        margin-left: 10px;
        margin-bottom: 20px;
    }    

    /** footer **/
    .footer-content {
        width: auto; /*width: 100%;*/
        grid-template-columns: repeat(3, 1fr); 
        gap: 0.938rem
            /* 15px -- 1.875rem; /*30px;*/
    }
    /** End footer **/
}

/* Small devices (phones, less than 768px) */
@media only screen and (min-width: 375px) and (max-width: 768px)  {
    /* main container */
    .main-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        /*max-width: 47.999rem;*/
        margin: 0 auto;
        /* Centrer horizontalement */
        padding: 0;
        box-sizing: border-box;
        background-color: var(--grey-color);
        /** to delimited scream **/
        color: var(--black-color);
    }

    .header-nav .menu-nav {
        justify-content: center;
        width: 100%;
    }

    .header-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    header {
        background-color: var(--white-color);
        color: var(--black-color);
    }

    .header-nav {
        flex-direction: column; /* change l'orientation des éléments en colonne */
        gap: 0.5rem; /* ajoute un espace entre le logo et le menu */
    }
    
    .menu-nav {
        flex-direction: column; /* change l'orientation des liens en colonne */
        gap: 0.25rem; /* réduit l'espace entre les liens */
    }

    .wraper {
        width: 100%;
    }
    .wraper > * {
        width: 50%;
        text-align: center;
    }

    .menu-nav .btn-hebergement {
        border-top: 0rem solid #FFFFFF;
        border-bottom: 0.1rem solid #0065FC;
        padding-bottom: 0.9rem;
        color: #0065FC;

    }
    /** search form **/
    .header-search-form {
        display: flex;
        flex-direction: row;
        font-size: 40px;
        margin-bottom: 20px;
        width: 335px;
        height: 49px;
    }
    
    .header-search-form .btn-search .btn-loup {
        display: unset;
        visibility: visible; 
    }

    .header-search-form .btn-search .txt-search {
        display: none;
        visibility: hidden;
    }
    /** End search form **/
    /** header btn options **/
    .header-options{
        padding: 10px;
    }
    .header-options .btn-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Créer deux colonnes de largeur égale */
        grid-template-rows: repeat(2, auto); /* Créer deux lignes de hauteur adaptée au contenu */
        grid-auto-flow: column; /* Remplir les cellules du grid par colonne */
    }

    .header-options .btn-option {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8.3rem;
        height: 2rem;
        border: 0.1rem;
        gap: 1.9rem;
        margin-bottom: 0.9rem;
        margin-right: 0.3rem;
    }    
    /** End header btn options **/

    /** Header menu description **/
    header .header-menu {
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .header-menu .header-desc {
        font-size: 22px;
        font-weight: 700;
        text-align: left;
        text-align: justify;
    }

    .header-menu p {
        width: 300px;
        /*200px;*/
        height: 3.313rem;
        /*53px;*/
        gap: 0.8rem;
        /*8px;*/
        margin-bottom: 50px;
    }
    /** End Header menu description **/

    /** header plus infos **/
    .header-menu .header-plus-info {
        justify-content: center;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .populaires-cards {
        display: block;
    }

    /** activités */
    .activites {
        width: auto;
        display: flex;
        flex-direction: column;
        background-color: var(--white-color);
        color: var(--black-color);
    }

    .activites .activites-cards {
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .activites-cards .card {
        width: 18.8rem;
        background-color: white;
        border-radius: 1.3rem;
        padding: 0rem;
        filter: drop-shadow(0px 0.2rem 0.9rem rgba(0, 0, 0, 0.1));
    }

    .activites-cards .card img {
        width: 18.8rem;
        height: 8.8rem;
        border-radius: 1.3rem, 1.3rem, 0px, 0px;
    }

    .activites-cards .card-title {
        margin-top: 0.6rem;
        margin-bottom: 1.3rem;
        margin-left: 1.3rem;
    }        

    /** end activités **/
    .footer-content {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: auto;
        color: var(--black-color);
        gap: 0.625rem; /*10px;*/
    }    
}